<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Stakeholder Viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Stakeholder Viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0df24805-5e2b-4d3b-bfe6-fe6a70933442.png" alt="Stakeholder Viewpoint" usemap="#0df24805-5e2b-4d3b-bfe6-fe6a70933442map"/>
			   <map name="0df24805-5e2b-4d3b-bfe6-fe6a70933442map">
				  		<area shape="rect" coords="884,2686,1510,2806" href="../elements/34e7068e-b004-41d9-9b05-46693b5d6aaf.html"  target="element">
				  		<area shape="rect" coords="1220,2012,1510,2568" href="../elements/b4910330-894e-45cb-996c-07d5627d212e.html"  target="element">
				  				<area shape="rect" coords="476,2686,716,2806" href="../elements/ea876e1b-7f64-4197-9acd-eea6377a1403.html"  target="element">

				  		<area shape="rect" coords="452,2638,740,2834" href="../elements/d3da0d6c-0589-4c34-8259-1dde32fa9c38.html"  target="element">
				  				<area shape="rect" coords="476,790,716,910" href="../elements/cb4bd359-139e-4952-9be1-9997721e968e.html"  target="element">
				  				<area shape="rect" coords="476,646,716,766" href="../elements/31f4c633-a96f-4e82-84de-b34fa275468b.html"  target="element">

				  		<area shape="rect" coords="452,574,740,936" href="../elements/bc61737a-d699-4bbb-aa28-3f300a354da8.html"  target="element">
				  		<area shape="rect" coords="20,646,356,766" href="../elements/6da8b0d9-c0e3-4829-ad9f-dadb48a1b6f2.html"  target="element">
				  		<area shape="rect" coords="20,2686,356,2806" href="../elements/11c00110-9013-4698-b7b9-1e47d4e92691.html"  target="element">
				  				<area shape="rect" coords="474,380,714,500" href="../elements/9bbaf8f9-8830-4396-8387-2bfb6f978bf6.html"  target="element">
				  				<area shape="rect" coords="474,236,714,356" href="../elements/be8967ad-c7d1-4fd0-aad0-5400aca1da3d.html"  target="element">
				  				<area shape="rect" coords="474,92,714,212" href="../elements/714428bc-2f0d-457a-a172-441519cf2757.html"  target="element">

				  		<area shape="rect" coords="450,20,740,526" href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html"  target="element">
				  		<area shape="rect" coords="20,1174,356,1294" href="../elements/44edf6b3-3d5d-4ba7-ada9-a28b45027ca9.html"  target="element">
				  		<area shape="rect" coords="20,1750,356,1870" href="../elements/64320fc2-46a2-42cf-95be-21ed2c5ce597.html"  target="element">
				  		<area shape="rect" coords="20,1606,356,1726" href="../elements/aa622e1a-4712-4f95-89a9-2978a43b38a8.html"  target="element">
				  		<area shape="rect" coords="20,1032,356,1152" href="../elements/213334d1-1fc1-4387-a118-7883aa3ffcb9.html"  target="element">
				  		<area shape="rect" coords="20,238,356,358" href="../elements/d7cf71b4-995f-40b0-a6da-12425b3280db.html"  target="element">
				  		<area shape="rect" coords="20,382,356,502" href="../elements/86a8c133-75e8-479a-bd8b-8fa6708836f8.html"  target="element">
				  		<area shape="rect" coords="20,790,356,910" href="../elements/a18b41bd-ebe0-448a-845c-74099ea3629c.html"  target="element">
				  		<area shape="rect" coords="20,2158,356,2278" href="../elements/ed627b44-a207-4181-9036-fb53d0f99d85.html"  target="element">
				  		<area shape="rect" coords="20,2014,356,2134" href="../elements/dae5667f-7720-4565-94c3-aa8492d570b9.html"  target="element">
				  		<area shape="rect" coords="20,1318,356,1438" href="../elements/f8f93d6e-6468-451d-abe4-7d329ea72d6f.html"  target="element">
				  		<area shape="rect" coords="20,1462,356,1582" href="../elements/7f3e214e-21d3-4e1c-89dc-e96075312a5c.html"  target="element">
				  		<area shape="rect" coords="884,2012,1174,2566" href="../elements/29c0dfe5-8428-4bc9-bf1d-92052eb7c00e.html"  target="element">
				  				<area shape="rect" coords="476,2446,716,2566" href="../elements/6272f7cb-524c-4593-8b49-47095ac73b04.html"  target="element">
				  				<area shape="rect" coords="476,2302,716,2422" href="../elements/6f2e5138-56fe-454f-af44-3a7813e056bc.html"  target="element">
				  				<area shape="rect" coords="476,2158,716,2278" href="../elements/74873478-ad03-4394-923b-f188bd987ad8.html"  target="element">
				  				<area shape="rect" coords="476,2014,716,2134" href="../elements/44c30722-607f-4525-91df-6c99d351cb60.html"  target="element">

				  		<area shape="rect" coords="452,1942,740,2592" href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html"  target="element">
				  				<area shape="rect" coords="476,1462,716,1582" href="../elements/d91e20d1-8f40-4948-8c8c-288bfce8772f.html"  target="element">
				  				<area shape="rect" coords="476,1318,716,1438" href="../elements/4dc2788a-211a-441b-9b72-7c228fe68708.html"  target="element">
				  				<area shape="rect" coords="476,1174,716,1294" href="../elements/43dcf6b6-241b-4931-94bc-13f4dc99c02a.html"  target="element">
				  				<area shape="rect" coords="476,1030,716,1150" href="../elements/4fbcda3e-f614-4c59-aa53-2a5b2d4576de.html"  target="element">

				  		<area shape="rect" coords="452,982,740,1896" href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html"  target="element">
				  		<area shape="rect" coords="884,22,1510,1102" href="../elements/3473e21e-c7e8-4185-aafb-39e5ce6dc491.html"  target="element">
				  		<area shape="rect" coords="1052,1776,1342,1896" href="../elements/7efbdc77-3e9e-426e-ad04-9b7aac40e128.html"  target="element">
				  		<area shape="rect" coords="1580,1148,1820,1894" href="../elements/f8631612-0650-49ad-8bda-dd4e03bd15cb.html"  target="element">
				  		<area shape="rect" coords="884,1150,1510,1656" href="../elements/f9eb33eb-aabe-4e70-be07-23b9988f03fe.html"  target="element">
				  		<area shape="rect" coords="1580,2398,1820,2518" href="../elements/5c1ddf0e-4590-47bf-b7a3-5cd3c2d5e951.html"  target="element">
				  		<area shape="rect" coords="1580,70,1820,1102" href="../elements/8ae594f2-4170-4016-82f6-3472ea781542.html"  target="element">
				  		<area shape="rect" coords="1580,2686,1820,2806" href="../elements/81426188-b2e9-4046-846c-eabb74186c4d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/81426188-b2e9-4046-846c-eabb74186c4d.html" target="element"> Digital Customer </a> </td>
											    <td> <a href="../elements/81426188-b2e9-4046-846c-eabb74186c4d.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8ae594f2-4170-4016-82f6-3472ea781542.html" target="element"> Enterprise Architects </a> </td>
											    <td> <a href="../elements/8ae594f2-4170-4016-82f6-3472ea781542.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5c1ddf0e-4590-47bf-b7a3-5cd3c2d5e951.html" target="element"> Relationship Managers </a> </td>
											    <td> <a href="../elements/5c1ddf0e-4590-47bf-b7a3-5cd3c2d5e951.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f9eb33eb-aabe-4e70-be07-23b9988f03fe.html" target="element"> Grow Market Share </a> </td>
											    <td> <a href="../elements/f9eb33eb-aabe-4e70-be07-23b9988f03fe.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8631612-0650-49ad-8bda-dd4e03bd15cb.html" target="element"> Product Owners </a> </td>
											    <td> <a href="../elements/f8631612-0650-49ad-8bda-dd4e03bd15cb.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7efbdc77-3e9e-426e-ad04-9b7aac40e128.html" target="element"> Operational Efficiency </a> </td>
											    <td> <a href="../elements/7efbdc77-3e9e-426e-ad04-9b7aac40e128.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3473e21e-c7e8-4185-aafb-39e5ce6dc491.html" target="element"> Use Good Technology </a> </td>
											    <td> <a href="../elements/3473e21e-c7e8-4185-aafb-39e5ce6dc491.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
											    <td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4fbcda3e-f614-4c59-aa53-2a5b2d4576de.html" target="element"> Unreliability of immediate data </a> </td>
													    <td> <a href="../elements/4fbcda3e-f614-4c59-aa53-2a5b2d4576de.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/43dcf6b6-241b-4931-94bc-13f4dc99c02a.html" target="element"> Need to process statistics in batches </a> </td>
													    <td> <a href="../elements/43dcf6b6-241b-4931-94bc-13f4dc99c02a.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4dc2788a-211a-441b-9b72-7c228fe68708.html" target="element"> Tight connection of acquisition and computation </a> </td>
													    <td> <a href="../elements/4dc2788a-211a-441b-9b72-7c228fe68708.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d91e20d1-8f40-4948-8c8c-288bfce8772f.html" target="element"> Storage of data in unsuitable ways </a> </td>
													    <td> <a href="../elements/d91e20d1-8f40-4948-8c8c-288bfce8772f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
											    <td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/44c30722-607f-4525-91df-6c99d351cb60.html" target="element"> Limits on fields (dimensions) </a> </td>
													    <td> <a href="../elements/44c30722-607f-4525-91df-6c99d351cb60.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/74873478-ad03-4394-923b-f188bd987ad8.html" target="element"> Limits on interval and period </a> </td>
													    <td> <a href="../elements/74873478-ad03-4394-923b-f188bd987ad8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6f2e5138-56fe-454f-af44-3a7813e056bc.html" target="element"> Limits on statistical calculations </a> </td>
													    <td> <a href="../elements/6f2e5138-56fe-454f-af44-3a7813e056bc.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6272f7cb-524c-4593-8b49-47095ac73b04.html" target="element"> Limits on access </a> </td>
													    <td> <a href="../elements/6272f7cb-524c-4593-8b49-47095ac73b04.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/29c0dfe5-8428-4bc9-bf1d-92052eb7c00e.html" target="element"> Satisfy Customers </a> </td>
											    <td> <a href="../elements/29c0dfe5-8428-4bc9-bf1d-92052eb7c00e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7f3e214e-21d3-4e1c-89dc-e96075312a5c.html" target="element"> Calculate statistics on the fly </a> </td>
											    <td> <a href="../elements/7f3e214e-21d3-4e1c-89dc-e96075312a5c.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8f93d6e-6468-451d-abe4-7d329ea72d6f.html" target="element"> Incorporate current events into data sources </a> </td>
											    <td> <a href="../elements/f8f93d6e-6468-451d-abe4-7d329ea72d6f.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dae5667f-7720-4565-94c3-aa8492d570b9.html" target="element"> Give customers as good an interface as us </a> </td>
											    <td> <a href="../elements/dae5667f-7720-4565-94c3-aa8492d570b9.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ed627b44-a207-4181-9036-fb53d0f99d85.html" target="element"> Build an interface that is flexible </a> </td>
											    <td> <a href="../elements/ed627b44-a207-4181-9036-fb53d0f99d85.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a18b41bd-ebe0-448a-845c-74099ea3629c.html" target="element"> Build a data store with governance embedded </a> </td>
											    <td> <a href="../elements/a18b41bd-ebe0-448a-845c-74099ea3629c.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/86a8c133-75e8-479a-bd8b-8fa6708836f8.html" target="element"> Use a proven, supported system </a> </td>
											    <td> <a href="../elements/86a8c133-75e8-479a-bd8b-8fa6708836f8.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d7cf71b4-995f-40b0-a6da-12425b3280db.html" target="element"> Choose an evolution not a recreation </a> </td>
											    <td> <a href="../elements/d7cf71b4-995f-40b0-a6da-12425b3280db.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/213334d1-1fc1-4387-a118-7883aa3ffcb9.html" target="element"> Use a data store that can grow and change easilly </a> </td>
											    <td> <a href="../elements/213334d1-1fc1-4387-a118-7883aa3ffcb9.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa622e1a-4712-4f95-89a9-2978a43b38a8.html" target="element"> Organise data for time-based statistics </a> </td>
											    <td> <a href="../elements/aa622e1a-4712-4f95-89a9-2978a43b38a8.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/64320fc2-46a2-42cf-95be-21ed2c5ce597.html" target="element"> Decouple ingestion and query </a> </td>
											    <td> <a href="../elements/64320fc2-46a2-42cf-95be-21ed2c5ce597.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/44edf6b3-3d5d-4ba7-ada9-a28b45027ca9.html" target="element"> Estimate, predictably </a> </td>
											    <td> <a href="../elements/44edf6b3-3d5d-4ba7-ada9-a28b45027ca9.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html" target="element"> Unfamiliarity with new tools </a> </td>
											    <td> <a href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/714428bc-2f0d-457a-a172-441519cf2757.html" target="element"> Lack of skills </a> </td>
													    <td> <a href="../elements/714428bc-2f0d-457a-a172-441519cf2757.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/be8967ad-c7d1-4fd0-aad0-5400aca1da3d.html" target="element"> Broadness of available components </a> </td>
													    <td> <a href="../elements/be8967ad-c7d1-4fd0-aad0-5400aca1da3d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9bbaf8f9-8830-4396-8387-2bfb6f978bf6.html" target="element"> Perceived immaturity </a> </td>
													    <td> <a href="../elements/9bbaf8f9-8830-4396-8387-2bfb6f978bf6.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/11c00110-9013-4698-b7b9-1e47d4e92691.html" target="element"> Feed People's Instincts </a> </td>
											    <td> <a href="../elements/11c00110-9013-4698-b7b9-1e47d4e92691.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6da8b0d9-c0e3-4829-ad9f-dadb48a1b6f2.html" target="element"> Spread the load </a> </td>
											    <td> <a href="../elements/6da8b0d9-c0e3-4829-ad9f-dadb48a1b6f2.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc61737a-d699-4bbb-aa28-3f300a354da8.html" target="element"> Unwieldy volumes of data </a> </td>
											    <td> <a href="../elements/bc61737a-d699-4bbb-aa28-3f300a354da8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/31f4c633-a96f-4e82-84de-b34fa275468b.html" target="element"> Tendency to scale up </a> </td>
													    <td> <a href="../elements/31f4c633-a96f-4e82-84de-b34fa275468b.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cb4bd359-139e-4952-9be1-9997721e968e.html" target="element"> Fear of ungovernability </a> </td>
													    <td> <a href="../elements/cb4bd359-139e-4952-9be1-9997721e968e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d3da0d6c-0589-4c34-8259-1dde32fa9c38.html" target="element"> Lack of Adaptation </a> </td>
											    <td> <a href="../elements/d3da0d6c-0589-4c34-8259-1dde32fa9c38.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ea876e1b-7f64-4197-9acd-eea6377a1403.html" target="element"> Increase in competitor numbers and skills </a> </td>
													    <td> <a href="../elements/ea876e1b-7f64-4197-9acd-eea6377a1403.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b4910330-894e-45cb-996c-07d5627d212e.html" target="element"> Compete Effectively </a> </td>
											    <td> <a href="../elements/b4910330-894e-45cb-996c-07d5627d212e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34e7068e-b004-41d9-9b05-46693b5d6aaf.html" target="element"> Adapt Wisely at Speed </a> </td>
											    <td> <a href="../elements/34e7068e-b004-41d9-9b05-46693b5d6aaf.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/351b009d-a2d3-481a-85e4-42b33a389c6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/351b009d-a2d3-481a-85e4-42b33a389c6d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/81426188-b2e9-4046-846c-eabb74186c4d.html" target="element"> Digital Customer </a> </td>
																		<td> <a href="../elements/34e7068e-b004-41d9-9b05-46693b5d6aaf.html" target="element"> Adapt Wisely at Speed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d6d88904-122c-422d-876c-bcb59f389f75.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6d88904-122c-422d-876c-bcb59f389f75.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f8631612-0650-49ad-8bda-dd4e03bd15cb.html" target="element"> Product Owners </a> </td>
																		<td> <a href="../elements/f9eb33eb-aabe-4e70-be07-23b9988f03fe.html" target="element"> Grow Market Share </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8644dcfb-c13c-47c1-819a-65e56dbb9d0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/8644dcfb-c13c-47c1-819a-65e56dbb9d0a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/7efbdc77-3e9e-426e-ad04-9b7aac40e128.html" target="element"> Operational Efficiency </a> </td>
																		<td> <a href="../elements/f9eb33eb-aabe-4e70-be07-23b9988f03fe.html" target="element"> Grow Market Share </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ef05d433-6035-41c2-b519-2a0ae07f0ee8.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef05d433-6035-41c2-b519-2a0ae07f0ee8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/7efbdc77-3e9e-426e-ad04-9b7aac40e128.html" target="element"> Operational Efficiency </a> </td>
																		<td> <a href="../elements/f8631612-0650-49ad-8bda-dd4e03bd15cb.html" target="element"> Product Owners </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/da8977ea-c40f-415b-b2b8-8b03f674805c.html" target="element">  </a> </td>
																		<td> <a href="../elements/da8977ea-c40f-415b-b2b8-8b03f674805c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3473e21e-c7e8-4185-aafb-39e5ce6dc491.html" target="element"> Use Good Technology </a> </td>
																		<td> <a href="../elements/8ae594f2-4170-4016-82f6-3472ea781542.html" target="element"> Enterprise Architects </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/de7e750b-9e24-48fa-a9f3-cae29010bd4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/de7e750b-9e24-48fa-a9f3-cae29010bd4c.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																		<td> <a href="../elements/7efbdc77-3e9e-426e-ad04-9b7aac40e128.html" target="element"> Operational Efficiency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/32ba3255-feb0-4bb7-955d-9f2f8ed87bc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/32ba3255-feb0-4bb7-955d-9f2f8ed87bc3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																		<td> <a href="../elements/d91e20d1-8f40-4948-8c8c-288bfce8772f.html" target="element"> Storage of data in unsuitable ways </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3bad5a5e-943e-4e58-8aa6-935413e6a9a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bad5a5e-943e-4e58-8aa6-935413e6a9a5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																		<td> <a href="../elements/4fbcda3e-f614-4c59-aa53-2a5b2d4576de.html" target="element"> Unreliability of immediate data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c0825ce5-ee6b-4909-8154-886f920eaaf3.html" target="element">  </a> </td>
																		<td> <a href="../elements/c0825ce5-ee6b-4909-8154-886f920eaaf3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																		<td> <a href="../elements/43dcf6b6-241b-4931-94bc-13f4dc99c02a.html" target="element"> Need to process statistics in batches </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4da4d0e-2ffe-40a9-b2e1-c10e02f86c1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4da4d0e-2ffe-40a9-b2e1-c10e02f86c1b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/761276a9-1f4f-468f-812c-87b6bfd83c9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/761276a9-1f4f-468f-812c-87b6bfd83c9f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																		<td> <a href="../elements/4dc2788a-211a-441b-9b72-7c228fe68708.html" target="element"> Tight connection of acquisition and computation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3fe474ad-b9eb-43d5-96c8-5bdbd8740407.html" target="element">  </a> </td>
																		<td> <a href="../elements/3fe474ad-b9eb-43d5-96c8-5bdbd8740407.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																		<td> <a href="../elements/3473e21e-c7e8-4185-aafb-39e5ce6dc491.html" target="element"> Use Good Technology </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/a50079c8-5d21-4b00-8293-77c0a05a789c.html" target="element">  </a> </td>
																		<td> <a href="../elements/a50079c8-5d21-4b00-8293-77c0a05a789c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																		<td> <a href="../elements/6f2e5138-56fe-454f-af44-3a7813e056bc.html" target="element"> Limits on statistical calculations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e6bc945b-2b23-4acc-b532-32569867dae9.html" target="element">  </a> </td>
																		<td> <a href="../elements/e6bc945b-2b23-4acc-b532-32569867dae9.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																		<td> <a href="../elements/29c0dfe5-8428-4bc9-bf1d-92052eb7c00e.html" target="element"> Satisfy Customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/00ef161e-3446-4ea3-bbad-569d2a63dd00.html" target="element">  </a> </td>
																		<td> <a href="../elements/00ef161e-3446-4ea3-bbad-569d2a63dd00.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																		<td> <a href="../elements/74873478-ad03-4394-923b-f188bd987ad8.html" target="element"> Limits on interval and period </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/134727e1-2694-4da8-8cf8-c19423f3195f.html" target="element">  </a> </td>
																		<td> <a href="../elements/134727e1-2694-4da8-8cf8-c19423f3195f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																		<td> <a href="../elements/44c30722-607f-4525-91df-6c99d351cb60.html" target="element"> Limits on fields (dimensions) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2912b16a-10df-4bc9-ba5a-d25d81c3382d.html" target="element">  </a> </td>
																		<td> <a href="../elements/2912b16a-10df-4bc9-ba5a-d25d81c3382d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																		<td> <a href="../elements/6272f7cb-524c-4593-8b49-47095ac73b04.html" target="element"> Limits on access </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fabb91a5-ab20-4874-9ee1-a96dc9a93ae8.html" target="element">  </a> </td>
																		<td> <a href="../elements/fabb91a5-ab20-4874-9ee1-a96dc9a93ae8.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																		<td> <a href="../elements/d3da0d6c-0589-4c34-8259-1dde32fa9c38.html" target="element"> Lack of Adaptation </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/eceda478-e7e2-4aef-b7b2-f6388c12bd40.html" target="element">  </a> </td>
																		<td> <a href="../elements/eceda478-e7e2-4aef-b7b2-f6388c12bd40.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/29c0dfe5-8428-4bc9-bf1d-92052eb7c00e.html" target="element"> Satisfy Customers </a> </td>
																		<td> <a href="../elements/f9eb33eb-aabe-4e70-be07-23b9988f03fe.html" target="element"> Grow Market Share </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f9dc4b28-01ae-4950-a906-4e0bcb3e68ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9dc4b28-01ae-4950-a906-4e0bcb3e68ef.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/29c0dfe5-8428-4bc9-bf1d-92052eb7c00e.html" target="element"> Satisfy Customers </a> </td>
																		<td> <a href="../elements/5c1ddf0e-4590-47bf-b7a3-5cd3c2d5e951.html" target="element"> Relationship Managers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2d351dc4-63b8-4b13-ba6b-2d79552cefd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/2d351dc4-63b8-4b13-ba6b-2d79552cefd8.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/7f3e214e-21d3-4e1c-89dc-e96075312a5c.html" target="element"> Calculate statistics on the fly </a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/644bb9a5-d947-4e90-8186-1211e640ae2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/644bb9a5-d947-4e90-8186-1211e640ae2d.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/f8f93d6e-6468-451d-abe4-7d329ea72d6f.html" target="element"> Incorporate current events into data sources </a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4e1beef3-5324-4a4b-9c24-d15d2a16093d.html" target="element">  </a> </td>
																		<td> <a href="../elements/4e1beef3-5324-4a4b-9c24-d15d2a16093d.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/dae5667f-7720-4565-94c3-aa8492d570b9.html" target="element"> Give customers as good an interface as us </a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13a8dadb-3300-410d-858e-b53a93d2fedd.html" target="element">  </a> </td>
																		<td> <a href="../elements/13a8dadb-3300-410d-858e-b53a93d2fedd.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/ed627b44-a207-4181-9036-fb53d0f99d85.html" target="element"> Build an interface that is flexible </a> </td>
																		<td> <a href="../elements/2763f767-ed6c-4bbe-ad40-3b4e3879ec1a.html" target="element"> Constraints in Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e47cc532-27a5-484a-8c35-3a4c4fe41df7.html" target="element">  </a> </td>
																		<td> <a href="../elements/e47cc532-27a5-484a-8c35-3a4c4fe41df7.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/a18b41bd-ebe0-448a-845c-74099ea3629c.html" target="element"> Build a data store with governance embedded </a> </td>
																		<td> <a href="../elements/cb4bd359-139e-4952-9be1-9997721e968e.html" target="element"> Fear of ungovernability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/646cfa9e-fd54-42e7-93b4-789bbb6eb82b.html" target="element">  </a> </td>
																		<td> <a href="../elements/646cfa9e-fd54-42e7-93b4-789bbb6eb82b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/86a8c133-75e8-479a-bd8b-8fa6708836f8.html" target="element"> Use a proven, supported system </a> </td>
																		<td> <a href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html" target="element"> Unfamiliarity with new tools </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8a84fe64-d0cc-4be4-a320-a2e5f41911a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/8a84fe64-d0cc-4be4-a320-a2e5f41911a4.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/d7cf71b4-995f-40b0-a6da-12425b3280db.html" target="element"> Choose an evolution not a recreation </a> </td>
																		<td> <a href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html" target="element"> Unfamiliarity with new tools </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0af2c57e-8b96-4eff-80c1-327a93b8b6c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/0af2c57e-8b96-4eff-80c1-327a93b8b6c2.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/213334d1-1fc1-4387-a118-7883aa3ffcb9.html" target="element"> Use a data store that can grow and change easilly </a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4742d55f-0d0a-41b3-a818-5297681524e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/4742d55f-0d0a-41b3-a818-5297681524e0.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/aa622e1a-4712-4f95-89a9-2978a43b38a8.html" target="element"> Organise data for time-based statistics </a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c51f2edc-e6b8-40cc-8c57-ef07528659a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/c51f2edc-e6b8-40cc-8c57-ef07528659a2.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/64320fc2-46a2-42cf-95be-21ed2c5ce597.html" target="element"> Decouple ingestion and query </a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b1eb150a-7463-4bbf-9fd9-c976d2236195.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1eb150a-7463-4bbf-9fd9-c976d2236195.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/44edf6b3-3d5d-4ba7-ada9-a28b45027ca9.html" target="element"> Estimate, predictably </a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/92b4addf-d9f2-4263-be46-34cadfa85fa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/92b4addf-d9f2-4263-be46-34cadfa85fa2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html" target="element"> Unfamiliarity with new tools </a> </td>
																		<td> <a href="../elements/714428bc-2f0d-457a-a172-441519cf2757.html" target="element"> Lack of skills </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/849b2847-47f4-4ead-b258-eadbc23199ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/849b2847-47f4-4ead-b258-eadbc23199ec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html" target="element"> Unfamiliarity with new tools </a> </td>
																		<td> <a href="../elements/9bbaf8f9-8830-4396-8387-2bfb6f978bf6.html" target="element"> Perceived immaturity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/da52b448-3260-483c-9704-40a478659543.html" target="element">  </a> </td>
																		<td> <a href="../elements/da52b448-3260-483c-9704-40a478659543.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html" target="element"> Unfamiliarity with new tools </a> </td>
																		<td> <a href="../elements/3473e21e-c7e8-4185-aafb-39e5ce6dc491.html" target="element"> Use Good Technology </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9099377d-6145-4790-9466-47a8e3ea8759.html" target="element">  </a> </td>
																		<td> <a href="../elements/9099377d-6145-4790-9466-47a8e3ea8759.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1cbec3ce-6ce6-4c4f-acf8-d021c07b6252.html" target="element"> Unfamiliarity with new tools </a> </td>
																		<td> <a href="../elements/be8967ad-c7d1-4fd0-aad0-5400aca1da3d.html" target="element"> Broadness of available components </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/9cefefa5-bd30-43bd-bb9f-05cc8f098979.html" target="element">  </a> </td>
																		<td> <a href="../elements/9cefefa5-bd30-43bd-bb9f-05cc8f098979.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/11c00110-9013-4698-b7b9-1e47d4e92691.html" target="element"> Feed People's Instincts </a> </td>
																		<td> <a href="../elements/d3da0d6c-0589-4c34-8259-1dde32fa9c38.html" target="element"> Lack of Adaptation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a40d6943-6adf-4be9-b6ba-57b758db2473.html" target="element">  </a> </td>
																		<td> <a href="../elements/a40d6943-6adf-4be9-b6ba-57b758db2473.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/6da8b0d9-c0e3-4829-ad9f-dadb48a1b6f2.html" target="element"> Spread the load </a> </td>
																		<td> <a href="../elements/bc61737a-d699-4bbb-aa28-3f300a354da8.html" target="element"> Unwieldy volumes of data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5ce853a4-3033-4013-ae72-f217a6df5908.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ce853a4-3033-4013-ae72-f217a6df5908.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc61737a-d699-4bbb-aa28-3f300a354da8.html" target="element"> Unwieldy volumes of data </a> </td>
																		<td> <a href="../elements/31f4c633-a96f-4e82-84de-b34fa275468b.html" target="element"> Tendency to scale up </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5a6412fb-cfba-463e-9a3a-d7d7968c1195.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a6412fb-cfba-463e-9a3a-d7d7968c1195.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/bc61737a-d699-4bbb-aa28-3f300a354da8.html" target="element"> Unwieldy volumes of data </a> </td>
																		<td> <a href="../elements/94c26023-8ad2-4792-b606-b4b514a51ed1.html" target="element"> Delays in Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f33611a2-96f0-4c04-8f08-6219c787ae81.html" target="element">  </a> </td>
																		<td> <a href="../elements/f33611a2-96f0-4c04-8f08-6219c787ae81.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bc61737a-d699-4bbb-aa28-3f300a354da8.html" target="element"> Unwieldy volumes of data </a> </td>
																		<td> <a href="../elements/cb4bd359-139e-4952-9be1-9997721e968e.html" target="element"> Fear of ungovernability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4910d8f-a735-4b97-879b-9518f70b09ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4910d8f-a735-4b97-879b-9518f70b09ef.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/bc61737a-d699-4bbb-aa28-3f300a354da8.html" target="element"> Unwieldy volumes of data </a> </td>
																		<td> <a href="../elements/3473e21e-c7e8-4185-aafb-39e5ce6dc491.html" target="element"> Use Good Technology </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/637881bb-8190-48e1-a25b-633df010e4f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/637881bb-8190-48e1-a25b-633df010e4f8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d3da0d6c-0589-4c34-8259-1dde32fa9c38.html" target="element"> Lack of Adaptation </a> </td>
																		<td> <a href="../elements/ea876e1b-7f64-4197-9acd-eea6377a1403.html" target="element"> Increase in competitor numbers and skills </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/09633910-10f7-40ed-903b-54aaf7bcf4a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/09633910-10f7-40ed-903b-54aaf7bcf4a3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/d3da0d6c-0589-4c34-8259-1dde32fa9c38.html" target="element"> Lack of Adaptation </a> </td>
																		<td> <a href="../elements/34e7068e-b004-41d9-9b05-46693b5d6aaf.html" target="element"> Adapt Wisely at Speed </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/32ac002f-d1db-4b21-af01-d1388eca704a.html" target="element">  </a> </td>
																		<td> <a href="../elements/32ac002f-d1db-4b21-af01-d1388eca704a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/b4910330-894e-45cb-996c-07d5627d212e.html" target="element"> Compete Effectively </a> </td>
																		<td> <a href="../elements/f9eb33eb-aabe-4e70-be07-23b9988f03fe.html" target="element"> Grow Market Share </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cd75f22b-14dc-4edf-9cee-017e065544d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd75f22b-14dc-4edf-9cee-017e065544d4.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/34e7068e-b004-41d9-9b05-46693b5d6aaf.html" target="element"> Adapt Wisely at Speed </a> </td>
																		<td> <a href="../elements/b4910330-894e-45cb-996c-07d5627d212e.html" target="element"> Compete Effectively </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac0cb7c7-678e-4664-98ab-0a2924eeac5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac0cb7c7-678e-4664-98ab-0a2924eeac5e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/34e7068e-b004-41d9-9b05-46693b5d6aaf.html" target="element"> Adapt Wisely at Speed </a> </td>
																		<td> <a href="../elements/29c0dfe5-8428-4bc9-bf1d-92052eb7c00e.html" target="element"> Satisfy Customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/262452c7-2fac-4572-9c4b-a5e91cd0b3c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/262452c7-2fac-4572-9c4b-a5e91cd0b3c3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/34e7068e-b004-41d9-9b05-46693b5d6aaf.html" target="element"> Adapt Wisely at Speed </a> </td>
																		<td> <a href="../elements/7efbdc77-3e9e-426e-ad04-9b7aac40e128.html" target="element"> Operational Efficiency </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>