<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Query Detail</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Query Detail</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3e5b650f-dbf7-4f40-b123-48ecdec4ca8c.png" alt="Query Detail" usemap="#3e5b650f-dbf7-4f40-b123-48ecdec4ca8cmap"/>
			   <map name="3e5b650f-dbf7-4f40-b123-48ecdec4ca8cmap">
				  		<area shape="rect" coords="1796,716,2086,766" href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html"  target="element">
				  		<area shape="rect" coords="1796,932,2086,982" href="../elements/0903a058-8c6e-41a8-ba25-701750c9ff0d.html"  target="element">
				  		<area shape="rect" coords="2204,116,2444,226" href="../elements/id-2dd850547c464dd6b72ba0d5f706c7eb.html"  target="element">
				  		<area shape="rect" coords="1822,116,2062,226" href="../elements/id-8263afa580684f15b0d84e1c4e815cb6.html"  target="element">
				  						<area shape="rect" coords="752,164,992,284" href="../elements/6c6759bf-fc3d-4a7f-92f5-6bb7272c4303.html"  target="element">

				  				<area shape="rect" coords="536,92,1210,310" href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html"  target="element">
				  				<area shape="rect" coords="1436,908,1676,1018" href="../elements/id-605a049d101748279862c29ab3589e33.html"  target="element">
				  								<area shape="rect" coords="752,572,992,1078" href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html"  target="element">

				  						<area shape="rect" coords="584,524,1138,1102" href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html"  target="element">

				  				<area shape="rect" coords="536,452,1210,1126" href="../elements/id-03d373afb21e4a138b2835d802b89c39.html"  target="element">
				  				<area shape="rect" coords="1436,668,1676,778" href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html"  target="element">

				  		<area shape="rect" coords="20,20,1726,1174" href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">ServerView and InventoryView monitor the announcements</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element"> Data Query </a> </td>
											    <td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element" class="i18n-elementtype-TechnologyCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element"> MiddleManager Task </a> </td>
													    <td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03d373afb21e4a138b2835d802b89c39.html" target="element"> Zookeeper </a> </td>
													    <td> <a href="../elements/id-03d373afb21e4a138b2835d802b89c39.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
															    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																	    <td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-605a049d101748279862c29ab3589e33.html" target="element"> Historical </a> </td>
													    <td> <a href="../elements/id-605a049d101748279862c29ab3589e33.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html" target="element"> Broker </a> </td>
													    <td> <a href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/6c6759bf-fc3d-4a7f-92f5-6bb7272c4303.html" target="element"> Broker Segment Announcements Cache </a> </td>
															    <td> <a href="../elements/6c6759bf-fc3d-4a7f-92f5-6bb7272c4303.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-8263afa580684f15b0d84e1c4e815cb6.html" target="element"> Broker REST API </a> </td>
											    <td> <a href="../elements/id-8263afa580684f15b0d84e1c4e815cb6.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2dd850547c464dd6b72ba0d5f706c7eb.html" target="element"> Distributed Query Service </a> </td>
											    <td> <a href="../elements/id-2dd850547c464dd6b72ba0d5f706c7eb.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0903a058-8c6e-41a8-ba25-701750c9ff0d.html" target="element"> Historical Query API </a> </td>
											    <td> <a href="../elements/0903a058-8c6e-41a8-ba25-701750c9ff0d.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html" target="element"> MiddleManager Task (Peon) REST API </a> </td>
											    <td> <a href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e01f0e5ef72240e89a7c4a13ac49b454.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e01f0e5ef72240e89a7c4a13ac49b454.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element"> Data Query </a> </td>
																		<td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element"> MiddleManager Task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8dbfa3f6-3689-47d8-80b1-5769f6781b4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/8dbfa3f6-3689-47d8-80b1-5769f6781b4e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element"> Data Query </a> </td>
																		<td> <a href="../elements/id-03d373afb21e4a138b2835d802b89c39.html" target="element"> Zookeeper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ce30f04310e45e69e55f0b40b3a581d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ce30f04310e45e69e55f0b40b3a581d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element"> Data Query </a> </td>
																		<td> <a href="../elements/id-605a049d101748279862c29ab3589e33.html" target="element"> Historical </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7ac6277f-bad6-4dbe-82ef-4ffbf4a37aaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ac6277f-bad6-4dbe-82ef-4ffbf4a37aaa.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element"> Data Query </a> </td>
																		<td> <a href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html" target="element"> Broker </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-50d88764a2b54ca98c32748472c494e3.html" target="element"> segment announce </a> </td>
																				<td> <a href="../elements/id-50d88764a2b54ca98c32748472c494e3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element"> MiddleManager Task </a> </td>
																				<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-54f0b62a936e492f90a4297b287fcef5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-54f0b62a936e492f90a4297b287fcef5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element"> MiddleManager Task </a> </td>
																				<td> <a href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html" target="element"> MiddleManager Task (Peon) REST API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element">  </a> </td>
																				<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-03d373afb21e4a138b2835d802b89c39.html" target="element"> Zookeeper </a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/5cab332f-7577-4bf1-a4f7-9ee70eb2896d.html" target="element">  </a> </td>
																						<td> <a href="../elements/5cab332f-7577-4bf1-a4f7-9ee70eb2896d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																						<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/ed87d1e9-1f8e-44aa-bb5f-7a6b964dd2d9.html" target="element"> segment announce </a> </td>
																				<td> <a href="../elements/ed87d1e9-1f8e-44aa-bb5f-7a6b964dd2d9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-605a049d101748279862c29ab3589e33.html" target="element"> Historical </a> </td>
																				<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-305eacad0d014be6b3b014a973b47e99.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-305eacad0d014be6b3b014a973b47e99.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/id-605a049d101748279862c29ab3589e33.html" target="element"> Historical </a> </td>
																				<td> <a href="../elements/0903a058-8c6e-41a8-ba25-701750c9ff0d.html" target="element"> Historical Query API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3f3090f4-6b0b-4735-99b9-4413287ffcfc.html" target="element">  </a> </td>
																				<td> <a href="../elements/3f3090f4-6b0b-4735-99b9-4413287ffcfc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html" target="element"> Broker </a> </td>
																				<td> <a href="../elements/6c6759bf-fc3d-4a7f-92f5-6bb7272c4303.html" target="element"> Broker Segment Announcements Cache </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6e13193f-04c9-499d-a631-a079bc41a924.html" target="element"> segment announce </a> </td>
																				<td> <a href="../elements/6e13193f-04c9-499d-a631-a079bc41a924.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html" target="element"> Broker </a> </td>
																				<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-966befcad2cb4cb5ab1c3a28f622a7ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-966befcad2cb4cb5ab1c3a28f622a7ad.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html" target="element"> Broker </a> </td>
																				<td> <a href="../elements/id-8263afa580684f15b0d84e1c4e815cb6.html" target="element"> Broker REST API </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-1110fa770d6e440a8b4a4a19baee0ac9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1110fa770d6e440a8b4a4a19baee0ac9.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-8263afa580684f15b0d84e1c4e815cb6.html" target="element"> Broker REST API </a> </td>
																		<td> <a href="../elements/id-2dd850547c464dd6b72ba0d5f706c7eb.html" target="element"> Distributed Query Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f62dd54e-87b9-408d-bad1-cea8adc63692.html" target="element">  </a> </td>
																		<td> <a href="../elements/f62dd54e-87b9-408d-bad1-cea8adc63692.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0903a058-8c6e-41a8-ba25-701750c9ff0d.html" target="element"> Historical Query API </a> </td>
																		<td> <a href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html" target="element"> Broker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5e43b88ece694d648f62bcc582daa6aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e43b88ece694d648f62bcc582daa6aa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html" target="element"> MiddleManager Task (Peon) REST API </a> </td>
																		<td> <a href="../elements/id-fb17dfbe14094224b2dd5046a7c900a4.html" target="element"> Broker </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>