<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>0 High Level</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>0 High Level</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/507738b1-fc5d-4d2b-8e08-6c89b5f45d44.png" alt="0 High Level" usemap="#507738b1-fc5d-4d2b-8e08-6c89b5f45d44map"/>
			   <map name="507738b1-fc5d-4d2b-8e08-6c89b5f45d44map">
				  		<area shape="rect" coords="20,548,1030,668" href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html"  target="element">
				  		<area shape="rect" coords="404,20,644,140" href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html"  target="element">
				  		<area shape="rect" coords="44,20,284,140" href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html"  target="element">
				  				<area shape="rect" coords="764,308,1004,428" href="../elements/fc7f2cfe-df27-49ae-888d-6eded211a879.html"  target="element">

				  		<area shape="rect" coords="740,260,1030,454" href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html"  target="element">
				  				<area shape="rect" coords="44,308,284,428" href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html"  target="element">

				  		<area shape="rect" coords="20,260,310,454" href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html"  target="element">
				  				<area shape="rect" coords="404,308,644,428" href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html"  target="element">

				  		<area shape="rect" coords="380,260,670,454" href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
											    <td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element" class="i18n-elementtype-TechnologyCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
													    <td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Ingest </a> </td>
											    <td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element" class="i18n-elementtype-TechnologyCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html" target="element"> Overlord </a> </td>
													    <td> <a href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element"> Query </a> </td>
											    <td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element" class="i18n-elementtype-TechnologyCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/fc7f2cfe-df27-49ae-888d-6eded211a879.html" target="element"> Broker </a> </td>
													    <td> <a href="../elements/fc7f2cfe-df27-49ae-888d-6eded211a879.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html" target="element"> BLOB Store </a> </td>
											    <td> <a href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html" target="element"> Relational DB </a> </td>
											    <td> <a href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
											    <td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/20925135-0ef5-484f-8dd9-0e6f912030bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/20925135-0ef5-484f-8dd9-0e6f912030bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
																		<td> <a href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html" target="element"> BLOB Store </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/27bb3061-2ea6-435f-a675-41d264fa8b8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/27bb3061-2ea6-435f-a675-41d264fa8b8b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
																		<td> <a href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html" target="element"> Relational DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dc4ee9ea-9e2a-42d7-84ba-5ce1ea59bff2.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc4ee9ea-9e2a-42d7-84ba-5ce1ea59bff2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
																		<td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19816fd4-6091-4a53-9c51-a87b7d0a8820.html" target="element">  </a> </td>
																		<td> <a href="../elements/19816fd4-6091-4a53-9c51-a87b7d0a8820.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
																		<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/4cb154a0-06f9-4658-a749-1d1648f11f64.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cb154a0-06f9-4658-a749-1d1648f11f64.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Ingest </a> </td>
																		<td> <a href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html" target="element"> BLOB Store </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13a56670-3e7e-4aef-a56c-32e6ded6dc84.html" target="element">  </a> </td>
																		<td> <a href="../elements/13a56670-3e7e-4aef-a56c-32e6ded6dc84.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Ingest </a> </td>
																		<td> <a href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html" target="element"> Relational DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2d7a037a-502f-4c8c-bbc8-b2b8a41a6130.html" target="element">  </a> </td>
																		<td> <a href="../elements/2d7a037a-502f-4c8c-bbc8-b2b8a41a6130.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Ingest </a> </td>
																		<td> <a href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html" target="element"> Overlord </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0ab034bc-1b7d-4767-9cbc-8daf0e6c280c.html" target="element">  </a> </td>
																		<td> <a href="../elements/0ab034bc-1b7d-4767-9cbc-8daf0e6c280c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Ingest </a> </td>
																		<td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/8dbfa3f6-3689-47d8-80b1-5769f6781b4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/8dbfa3f6-3689-47d8-80b1-5769f6781b4e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element"> Query </a> </td>
																		<td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7ac6277f-bad6-4dbe-82ef-4ffbf4a37aaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ac6277f-bad6-4dbe-82ef-4ffbf4a37aaa.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/91219c75-f10c-492e-a88f-88e82f25a2eb.html" target="element"> Query </a> </td>
																		<td> <a href="../elements/fc7f2cfe-df27-49ae-888d-6eded211a879.html" target="element"> Broker </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>