<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Ingestion Detail</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Ingestion Detail</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9de6a14c-b818-4e0e-ac61-a40793825dd6.png" alt="Ingestion Detail" usemap="#9de6a14c-b818-4e0e-ac61-a40793825dd6map"/>
			   <map name="9de6a14c-b818-4e0e-ac61-a40793825dd6map">
				  		<area shape="rect" coords="911,45,1031,100" href="../elements/id-3d6dbecdd5e7490093c8bbf5121c13aa.html"  target="element">
				  		<area shape="rect" coords="1138,81,1283,131" href="../elements/id-f5d54f60a4bd40a7a37a7aa6a849ff0b.html"  target="element">
				  		<area shape="rect" coords="1102,358,1222,418" href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html"  target="element">
				  		<area shape="rect" coords="910,454,1030,514" href="../elements/a572c23f-39bd-4ce5-ad7d-4697e4e0f707.html"  target="element">
				  		<area shape="rect" coords="1138,24,1283,71" href="../elements/25d02e0f-1ffe-4a5e-bc8d-6718b603ab17.html"  target="element">
				  				<area shape="rect" coords="910,310,1030,370" href="../elements/b69c6170-7aa2-477e-8660-a96d779bcca6.html"  target="element">

				  		<area shape="rect" coords="898,286,1043,383" href="../elements/e8961152-0d76-4b5c-8a2b-d4dfbc055a8e.html"  target="element">
				  				<area shape="rect" coords="910,142,1030,202" href="../elements/81789fe5-cc44-4a46-b3a4-46b02c951fca.html"  target="element">

				  		<area shape="rect" coords="898,118,1043,215" href="../elements/8307ece3-039f-45e3-b0b2-db5badfc3683.html"  target="element">
				  						<area shape="rect" coords="382,70,502,130" href="../elements/9175fdbe-2782-4958-b648-50a206d9c133.html"  target="element">

				  				<area shape="rect" coords="286,34,587,131" href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html"  target="element">
				  						<area shape="rect" coords="34,502,154,562" href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html"  target="element">

				  				<area shape="rect" coords="22,478,167,575" href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html"  target="element">
				  						<area shape="rect" coords="718,454,838,509" href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html"  target="element">

				  				<area shape="rect" coords="706,262,851,527" href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html"  target="element">
				  						<area shape="rect" coords="34,58,154,118" href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html"  target="element">

				  				<area shape="rect" coords="22,34,167,131" href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html"  target="element">
				  								<area shape="rect" coords="442,394,562,515" href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html"  target="element">
				  								<area shape="rect" coords="310,322,430,455" href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html"  target="element">
				  								<area shape="rect" coords="442,262,562,371" href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html"  target="element">

				  						<area shape="rect" coords="298,238,575,527" href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html"  target="element">

				  				<area shape="rect" coords="286,214,587,539" href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html"  target="element">

				  		<area shape="rect" coords="10,10,863,587" href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
											    <td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element" class="i18n-elementtype-TechnologyCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
													    <td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
															    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																	    <td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																	    <td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																	    <td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html" target="element"> Relational DB </a> </td>
													    <td> <a href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element"> Metadata Database </a> </td>
															    <td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
													    <td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element"> MiddleManager Task </a> </td>
															    <td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html" target="element"> BLOB Store </a> </td>
													    <td> <a href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element"> Deep Storage </a> </td>
															    <td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
													    <td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9175fdbe-2782-4958-b648-50a206d9c133.html" target="element"> Overlord Cluster Snapshot </a> </td>
															    <td> <a href="../elements/9175fdbe-2782-4958-b648-50a206d9c133.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/8307ece3-039f-45e3-b0b2-db5badfc3683.html" target="element"> Overlord Control </a> </td>
											    <td> <a href="../elements/8307ece3-039f-45e3-b0b2-db5badfc3683.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/81789fe5-cc44-4a46-b3a4-46b02c951fca.html" target="element"> Overlord Commands </a> </td>
													    <td> <a href="../elements/81789fe5-cc44-4a46-b3a4-46b02c951fca.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e8961152-0d76-4b5c-8a2b-d4dfbc055a8e.html" target="element"> Task Control </a> </td>
											    <td> <a href="../elements/e8961152-0d76-4b5c-8a2b-d4dfbc055a8e.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b69c6170-7aa2-477e-8660-a96d779bcca6.html" target="element"> Task Commands </a> </td>
													    <td> <a href="../elements/b69c6170-7aa2-477e-8660-a96d779bcca6.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/25d02e0f-1ffe-4a5e-bc8d-6718b603ab17.html" target="element"> Streaming Ingestion Service </a> </td>
											    <td> <a href="../elements/25d02e0f-1ffe-4a5e-bc8d-6718b603ab17.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a572c23f-39bd-4ce5-ad7d-4697e4e0f707.html" target="element"> Ingestion Source </a> </td>
											    <td> <a href="../elements/a572c23f-39bd-4ce5-ad7d-4697e4e0f707.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html" target="element"> Task / Supervisor API </a> </td>
											    <td> <a href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5d54f60a4bd40a7a37a7aa6a849ff0b.html" target="element"> Batch Ingestion Service </a> </td>
											    <td> <a href="../elements/id-f5d54f60a4bd40a7a37a7aa6a849ff0b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d6dbecdd5e7490093c8bbf5121c13aa.html" target="element"> Overlord (Indexer) REST API </a> </td>
											    <td> <a href="../elements/id-3d6dbecdd5e7490093c8bbf5121c13aa.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f8a170a2-3ab2-458a-bbbf-a1236961b9ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/f8a170a2-3ab2-458a-bbbf-a1236961b9ec.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
																		<td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0ab034bc-1b7d-4767-9cbc-8daf0e6c280c.html" target="element">  </a> </td>
																		<td> <a href="../elements/0ab034bc-1b7d-4767-9cbc-8daf0e6c280c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
																		<td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13a56670-3e7e-4aef-a56c-32e6ded6dc84.html" target="element">  </a> </td>
																		<td> <a href="../elements/13a56670-3e7e-4aef-a56c-32e6ded6dc84.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
																		<td> <a href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html" target="element"> Relational DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4cb154a0-06f9-4658-a749-1d1648f11f64.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cb154a0-06f9-4658-a749-1d1648f11f64.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
																		<td> <a href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html" target="element"> BLOB Store </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0934eaa2bf64c408d2c967a578a98e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0934eaa2bf64c408d2c967a578a98e1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
																		<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element">  </a> </td>
																				<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/f8ecffcd-2a83-4e2c-9449-63adc8e361ab.html" target="element">  </a> </td>
																						<td> <a href="../elements/f8ecffcd-2a83-4e2c-9449-63adc8e361ab.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																						<td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7c4e5565-f77f-4e22-a74c-4f84717a11a2.html" target="element">  </a> </td>
																						<td> <a href="../elements/7c4e5565-f77f-4e22-a74c-4f84717a11a2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																						<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/5cab332f-7577-4bf1-a4f7-9ee70eb2896d.html" target="element">  </a> </td>
																						<td> <a href="../elements/5cab332f-7577-4bf1-a4f7-9ee70eb2896d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																						<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/87a1695b-3548-452c-8974-c89dc08fc352.html" target="element">  </a> </td>
																				<td> <a href="../elements/87a1695b-3548-452c-8974-c89dc08fc352.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/e536bf85-a695-43fb-854a-9fd64c58b16b.html" target="element"> Relational DB </a> </td>
																				<td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element"> Metadata Database </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/b8bee8cd-9289-42b1-add3-4ce3915a26bd.html" target="element"> service announce </a> </td>
																				<td> <a href="../elements/b8bee8cd-9289-42b1-add3-4ce3915a26bd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
																				<td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8ae28c92-e81a-45fa-9b1e-67635690c52f.html" target="element"> ingest jobs </a> </td>
																				<td> <a href="../elements/8ae28c92-e81a-45fa-9b1e-67635690c52f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
																				<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6d608b684dcf4c6a8259f729d1d13c77.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6d608b684dcf4c6a8259f729d1d13c77.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
																				<td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element"> MiddleManager Task </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-3043f8f7fae346ee9a8b5af4b114c07c.html" target="element"> segment push </a> </td>
																						<td> <a href="../elements/id-3043f8f7fae346ee9a8b5af4b114c07c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element"> MiddleManager Task </a> </td>
																						<td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element"> Deep Storage </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d50e509a4d2748f39f91a9afb7b28ce5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d50e509a4d2748f39f91a9afb7b28ce5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element"> MiddleManager Task </a> </td>
																						<td> <a href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html" target="element"> Task / Supervisor API </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/71cf3391-d293-4c10-9774-b8e5c8e6052e.html" target="element">  </a> </td>
																				<td> <a href="../elements/71cf3391-d293-4c10-9774-b8e5c8e6052e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/c55a6551-270b-4601-9bb7-1f6b092acc9a.html" target="element"> BLOB Store </a> </td>
																				<td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element"> Deep Storage </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/f8340565-1f0c-44f7-94bc-1c53cfca3b44.html" target="element"> service announce </a> </td>
																				<td> <a href="../elements/f8340565-1f0c-44f7-94bc-1c53cfca3b44.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																				<td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4b20c32f-bfe7-4529-8ae1-4beebab0b0dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/4b20c32f-bfe7-4529-8ae1-4beebab0b0dd.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																				<td> <a href="../elements/9175fdbe-2782-4958-b648-50a206d9c133.html" target="element"> Overlord Cluster Snapshot </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b41a0774-e940-42b7-a555-0b670733f781.html" target="element"> segment metadata </a> </td>
																				<td> <a href="../elements/b41a0774-e940-42b7-a555-0b670733f781.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																				<td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element"> Metadata Database </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/69819171-6ff2-4479-bb58-be4925f80a88.html" target="element"> ingest jobs </a> </td>
																				<td> <a href="../elements/69819171-6ff2-4479-bb58-be4925f80a88.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																				<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e6d35596-d017-42b3-9e99-7e7e4c711011.html" target="element">  </a> </td>
																				<td> <a href="../elements/e6d35596-d017-42b3-9e99-7e7e4c711011.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																				<td> <a href="../elements/8307ece3-039f-45e3-b0b2-db5badfc3683.html" target="element"> Overlord Control </a> </td>
																			</tr>

													
											
																			<tr>
																				<td> <a href="../elements/162e847d-4142-4e93-92d1-4155a7b2c4c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/162e847d-4142-4e93-92d1-4155a7b2c4c7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/81789fe5-cc44-4a46-b3a4-46b02c951fca.html" target="element"> Overlord Commands </a> </td>
																				<td> <a href="../elements/8307ece3-039f-45e3-b0b2-db5badfc3683.html" target="element"> Overlord Control </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/e18c99d7-134d-4fee-a2c1-3a09ab5cd2da.html" target="element">  </a> </td>
																		<td> <a href="../elements/e18c99d7-134d-4fee-a2c1-3a09ab5cd2da.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e8961152-0d76-4b5c-8a2b-d4dfbc055a8e.html" target="element"> Task Control </a> </td>
																		<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/efde5216-8884-4727-a3c7-106c2cffbd27.html" target="element">  </a> </td>
																				<td> <a href="../elements/efde5216-8884-4727-a3c7-106c2cffbd27.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/b69c6170-7aa2-477e-8660-a96d779bcca6.html" target="element"> Task Commands </a> </td>
																				<td> <a href="../elements/e8961152-0d76-4b5c-8a2b-d4dfbc055a8e.html" target="element"> Task Control </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/877a0edb-9afa-4e1f-b947-47a6fb2fe3ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/877a0edb-9afa-4e1f-b947-47a6fb2fe3ff.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/e2b2b358-3d2e-493a-a90a-0c9adf72c1e5.html" target="element"> Task / Supervisor API </a> </td>
																		<td> <a href="../elements/25d02e0f-1ffe-4a5e-bc8d-6718b603ab17.html" target="element"> Streaming Ingestion Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-51db4598eff744c39e017f6f8b389e83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51db4598eff744c39e017f6f8b389e83.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-3d6dbecdd5e7490093c8bbf5121c13aa.html" target="element"> Overlord (Indexer) REST API </a> </td>
																		<td> <a href="../elements/25d02e0f-1ffe-4a5e-bc8d-6718b603ab17.html" target="element"> Streaming Ingestion Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-afe2fb67d89e4da28c0c8a06c3769194.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afe2fb67d89e4da28c0c8a06c3769194.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-3d6dbecdd5e7490093c8bbf5121c13aa.html" target="element"> Overlord (Indexer) REST API </a> </td>
																		<td> <a href="../elements/id-f5d54f60a4bd40a7a37a7aa6a849ff0b.html" target="element"> Batch Ingestion Service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>