<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Ingestion</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Ingestion</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1fc0c5e4264848b3adb0d4f84e3158c6.png" alt="Ingestion" usemap="#id-1fc0c5e4264848b3adb0d4f84e3158c6map"/>
			   <map name="id-1fc0c5e4264848b3adb0d4f84e3158c6map">
				  				<area shape="rect" coords="1676,158,1916,280" href="../elements/id-2d96f1c7bf7142a693352f5ab494ce2e.html"  target="element">

				  		<area shape="rect" coords="1652,86,1942,310" href="../elements/id-0a51271a5db14e15917f30a512386f49.html"  target="element">
				  						<area shape="rect" coords="440,548,1138,622" href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html"  target="element">

				  				<area shape="rect" coords="416,500,1162,766" href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html"  target="element">

				  		<area shape="rect" coords="392,428,1222,790" href="../elements/id-03d373afb21e4a138b2835d802b89c39.html"  target="element">
				  		<area shape="rect" coords="1244,542,1484,652" href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html"  target="element">
				  		<area shape="rect" coords="68,542,308,652" href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html"  target="element">
				  						<area shape="rect" coords="1244,164,1484,274" href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html"  target="element">

				  				<area shape="rect" coords="1004,92,1532,286" href="../elements/id-7795a60fae814562a47a02b42ce4677b.html"  target="element">
				  				<area shape="rect" coords="68,116,308,226" href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html"  target="element">

				  		<area shape="rect" coords="20,20,1558,310" href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
											    <td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element" class="i18n-elementtype-TechnologyCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
													    <td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7795a60fae814562a47a02b42ce4677b.html" target="element"> MiddleManager </a> </td>
													    <td> <a href="../elements/id-7795a60fae814562a47a02b42ce4677b.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element"> MiddleManager Task </a> </td>
															    <td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element" class="i18n-elementtype-Node"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element"> Metadata Database </a> </td>
											    <td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element"> Deep Storage </a> </td>
											    <td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03d373afb21e4a138b2835d802b89c39.html" target="element"> Zookeeper </a> </td>
											    <td> <a href="../elements/id-03d373afb21e4a138b2835d802b89c39.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
													    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
															    <td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-0a51271a5db14e15917f30a512386f49.html" target="element"> Payload </a> </td>
											    <td> <a href="../elements/id-0a51271a5db14e15917f30a512386f49.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2d96f1c7bf7142a693352f5ab494ce2e.html" target="element"> Source Data </a> </td>
													    <td> <a href="../elements/id-2d96f1c7bf7142a693352f5ab494ce2e.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b0934eaa2bf64c408d2c967a578a98e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0934eaa2bf64c408d2c967a578a98e1.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
																		<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b506f26f592457e8f6310bedae55f86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b506f26f592457e8f6310bedae55f86.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
																		<td> <a href="../elements/id-7795a60fae814562a47a02b42ce4677b.html" target="element"> MiddleManager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0ab034bc-1b7d-4767-9cbc-8daf0e6c280c.html" target="element">  </a> </td>
																		<td> <a href="../elements/0ab034bc-1b7d-4767-9cbc-8daf0e6c280c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/59942e93-1291-4fe7-a4ea-9e08291e9d7b.html" target="element"> Data Ingestion </a> </td>
																		<td> <a href="../elements/id-03d373afb21e4a138b2835d802b89c39.html" target="element"> Zookeeper </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/69819171-6ff2-4479-bb58-be4925f80a88.html" target="element"> ingest jobs </a> </td>
																				<td> <a href="../elements/69819171-6ff2-4479-bb58-be4925f80a88.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																				<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b41a0774-e940-42b7-a555-0b670733f781.html" target="element"> segment metadata </a> </td>
																				<td> <a href="../elements/b41a0774-e940-42b7-a555-0b670733f781.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f23e63ee792840a8b8fe6cf0209b025a.html" target="element"> Overlord </a> </td>
																				<td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element"> Metadata Database </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8ae28c92-e81a-45fa-9b1e-67635690c52f.html" target="element"> ingest jobs </a> </td>
																				<td> <a href="../elements/8ae28c92-e81a-45fa-9b1e-67635690c52f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-7795a60fae814562a47a02b42ce4677b.html" target="element"> MiddleManager </a> </td>
																				<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e6f6e06123a941dd97b5c6874d369d64.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e6f6e06123a941dd97b5c6874d369d64.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-7795a60fae814562a47a02b42ce4677b.html" target="element"> MiddleManager </a> </td>
																				<td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element"> MiddleManager Task </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-3043f8f7fae346ee9a8b5af4b114c07c.html" target="element"> segment push </a> </td>
																						<td> <a href="../elements/id-3043f8f7fae346ee9a8b5af4b114c07c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element"> MiddleManager Task </a> </td>
																						<td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element"> Deep Storage </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-9e83580457d84814af96b788a503449d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9e83580457d84814af96b788a503449d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/id-a40dcb5904d14e81818b2d1c39593fe3.html" target="element"> MiddleManager Task </a> </td>
																						<td> <a href="../elements/id-2d96f1c7bf7142a693352f5ab494ce2e.html" target="element"> Source Data </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-03d373afb21e4a138b2835d802b89c39.html" target="element"> Zookeeper </a> </td>
																		<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7c4e5565-f77f-4e22-a74c-4f84717a11a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/7c4e5565-f77f-4e22-a74c-4f84717a11a2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																				<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-6c5eac0cb84d42ef9d428f31b4d87dea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c5eac0cb84d42ef9d428f31b4d87dea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0a51271a5db14e15917f30a512386f49.html" target="element"> Payload </a> </td>
																		<td> <a href="../elements/id-2d96f1c7bf7142a693352f5ab494ce2e.html" target="element"> Source Data </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>