<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Query</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Query</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-implementation_deployment"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_implementation_deployment" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ae5304d62d724be88fa3acc24442b51d.png" alt="Query" usemap="#id-ae5304d62d724be88fa3acc24442b51dmap"/>
			   <map name="id-ae5304d62d724be88fa3acc24442b51dmap">
				  		<area shape="rect" coords="644,20,884,130" href="../elements/id-65c6f1a56f75467a914a43f809cf1d40.html"  target="element">
				  		<area shape="rect" coords="332,20,572,130" href="../elements/id-2a6160dc4a7648c491bee55950745562.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-e251dfde166140c9ab83a7712eaba5e1.html"  target="element">
				  		<area shape="rect" coords="20,260,884,370" href="../elements/id-097f729c112c4fb69f9aec9014e0813b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-097f729c112c4fb69f9aec9014e0813b.html" target="element"> Query Data </a> </td>
											    <td> <a href="../elements/id-097f729c112c4fb69f9aec9014e0813b.html" target="element" class="i18n-elementtype-TechnologyInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e251dfde166140c9ab83a7712eaba5e1.html" target="element"> Perform GROUP BY analytics </a> </td>
											    <td> <a href="../elements/id-e251dfde166140c9ab83a7712eaba5e1.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a6160dc4a7648c491bee55950745562.html" target="element"> Perform TOPN analytics </a> </td>
											    <td> <a href="../elements/id-2a6160dc4a7648c491bee55950745562.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-65c6f1a56f75467a914a43f809cf1d40.html" target="element"> Perform TIMESCAN analytics </a> </td>
											    <td> <a href="../elements/id-65c6f1a56f75467a914a43f809cf1d40.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d25c4ba40b6e4846b2719215a5efd896.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d25c4ba40b6e4846b2719215a5efd896.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-097f729c112c4fb69f9aec9014e0813b.html" target="element"> Query Data </a> </td>
																		<td> <a href="../elements/id-e251dfde166140c9ab83a7712eaba5e1.html" target="element"> Perform GROUP BY analytics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcb67095cb9c400ca43465e124f1df86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcb67095cb9c400ca43465e124f1df86.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-097f729c112c4fb69f9aec9014e0813b.html" target="element"> Query Data </a> </td>
																		<td> <a href="../elements/id-2a6160dc4a7648c491bee55950745562.html" target="element"> Perform TOPN analytics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1b168520a7084bb38c07d46d0b274497.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b168520a7084bb38c07d46d0b274497.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-097f729c112c4fb69f9aec9014e0813b.html" target="element"> Query Data </a> </td>
																		<td> <a href="../elements/id-65c6f1a56f75467a914a43f809cf1d40.html" target="element"> Perform TIMESCAN analytics </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>