<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>6.3 Zookeeper</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>6.3 Zookeeper</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fe356d35cff94538a0ed5a464abf95cb.png" alt="6.3 Zookeeper" usemap="#id-fe356d35cff94538a0ed5a464abf95cbmap"/>
			   <map name="id-fe356d35cff94538a0ed5a464abf95cbmap">
				  				<area shape="rect" coords="68,668,334,778" href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html"  target="element">

				  		<area shape="rect" coords="44,620,358,814" href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html"  target="element">
				  		<area shape="rect" coords="754,620,1294,814" href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html"  target="element">
				  		<area shape="rect" coords="44,20,358,190" href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html"  target="element">
				  		<area shape="rect" coords="754,20,1282,190" href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html"  target="element">
				  		<area shape="rect" coords="1340,20,1580,190" href="../elements/fc7f2cfe-df27-49ae-888d-6eded211a879.html"  target="element">
				  						<area shape="rect" coords="1052,356,1582,466" href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html"  target="element">
				  						<area shape="rect" coords="68,356,308,466" href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html"  target="element">
				  						<area shape="rect" coords="764,356,1004,466" href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html"  target="element">
				  						<area shape="rect" coords="428,356,668,466" href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html"  target="element">

				  				<area shape="rect" coords="44,308,1606,502" href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html"  target="element">

				  		<area shape="rect" coords="20,260,1630,526" href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
											    <td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
													    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
															    <td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element"> Load Queue </a> </td>
															    <td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
															    <td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
															    <td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/fc7f2cfe-df27-49ae-888d-6eded211a879.html" target="element"> Broker </a> </td>
											    <td> <a href="../elements/fc7f2cfe-df27-49ae-888d-6eded211a879.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
											    <td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html" target="element"> Overlord </a> </td>
											    <td> <a href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
											    <td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
											    <td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element"> MiddleManager Task </a> </td>
													    <td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
																		<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7c4e5565-f77f-4e22-a74c-4f84717a11a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/7c4e5565-f77f-4e22-a74c-4f84717a11a2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																				<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e317f28b-b2e0-4616-82d1-7d15fbcffb00.html" target="element">  </a> </td>
																				<td> <a href="../elements/e317f28b-b2e0-4616-82d1-7d15fbcffb00.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																				<td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element"> Load Queue </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5cab332f-7577-4bf1-a4f7-9ee70eb2896d.html" target="element">  </a> </td>
																				<td> <a href="../elements/5cab332f-7577-4bf1-a4f7-9ee70eb2896d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																				<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f8ecffcd-2a83-4e2c-9449-63adc8e361ab.html" target="element">  </a> </td>
																				<td> <a href="../elements/f8ecffcd-2a83-4e2c-9449-63adc8e361ab.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																				<td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/6e13193f-04c9-499d-a631-a079bc41a924.html" target="element"> segment announce </a> </td>
																		<td> <a href="../elements/6e13193f-04c9-499d-a631-a079bc41a924.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/fc7f2cfe-df27-49ae-888d-6eded211a879.html" target="element"> Broker </a> </td>
																		<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6aa3a1c3-2836-44bc-a8c7-cba263d98ecc.html" target="element"> service announce </a> </td>
																		<td> <a href="../elements/6aa3a1c3-2836-44bc-a8c7-cba263d98ecc.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																		<td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3c4ba4de-580b-47b1-b913-790c90b52621.html" target="element"> segment announce </a> </td>
																		<td> <a href="../elements/3c4ba4de-580b-47b1-b913-790c90b52621.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																		<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/37e7a1c9-dd09-4d62-80dd-5249d25a314a.html" target="element"> rule task </a> </td>
																		<td> <a href="../elements/37e7a1c9-dd09-4d62-80dd-5249d25a314a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																		<td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element"> Load Queue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/69819171-6ff2-4479-bb58-be4925f80a88.html" target="element"> ingest jobs </a> </td>
																		<td> <a href="../elements/69819171-6ff2-4479-bb58-be4925f80a88.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html" target="element"> Overlord </a> </td>
																		<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f8340565-1f0c-44f7-94bc-1c53cfca3b44.html" target="element"> service announce </a> </td>
																		<td> <a href="../elements/f8340565-1f0c-44f7-94bc-1c53cfca3b44.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/1012c202-e16c-46cd-9bbe-1c616f61ae8c.html" target="element"> Overlord </a> </td>
																		<td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a9cce08f-a609-47e0-af26-2ef123ad374d.html" target="element"> service announce </a> </td>
																		<td> <a href="../elements/a9cce08f-a609-47e0-af26-2ef123ad374d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
																		<td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ed87d1e9-1f8e-44aa-bb5f-7a6b964dd2d9.html" target="element"> segment announce </a> </td>
																		<td> <a href="../elements/ed87d1e9-1f8e-44aa-bb5f-7a6b964dd2d9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
																		<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9fd6a470-003e-4644-affb-5417448ec26f.html" target="element"> rule task </a> </td>
																		<td> <a href="../elements/9fd6a470-003e-4644-affb-5417448ec26f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
																		<td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element"> Load Queue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6d608b684dcf4c6a8259f729d1d13c77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d608b684dcf4c6a8259f729d1d13c77.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
																		<td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element"> MiddleManager Task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b8bee8cd-9289-42b1-add3-4ce3915a26bd.html" target="element"> service announce </a> </td>
																		<td> <a href="../elements/b8bee8cd-9289-42b1-add3-4ce3915a26bd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
																		<td> <a href="../elements/936f04be-2edb-4a0d-a862-e2a34ce8a127.html" target="element"> Published Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ae28c92-e81a-45fa-9b1e-67635690c52f.html" target="element"> ingest jobs </a> </td>
																		<td> <a href="../elements/8ae28c92-e81a-45fa-9b1e-67635690c52f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7e4e576a-38e9-4c43-8132-2fe0de85b962.html" target="element"> MiddleManager </a> </td>
																		<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-50d88764a2b54ca98c32748472c494e3.html" target="element"> segment announce </a> </td>
																				<td> <a href="../elements/id-50d88764a2b54ca98c32748472c494e3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-421284a6681a40b892fcbb3c0813afbd.html" target="element"> MiddleManager Task </a> </td>
																				<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>