<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Assignment</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Assignment</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f6af28bd943240b4b25f0836b2bc51a4.png" alt="Assignment" usemap="#id-f6af28bd943240b4b25f0836b2bc51a4map"/>
			   <map name="id-f6af28bd943240b4b25f0836b2bc51a4map">
				  						<area shape="rect" coords="436,236,774,310" href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html"  target="element">
				  						<area shape="rect" coords="796,236,1134,310" href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html"  target="element">
				  						<area shape="rect" coords="436,116,1134,190" href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html"  target="element">

				  				<area shape="rect" coords="412,68,1158,334" href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html"  target="element">

				  		<area shape="rect" coords="388,20,1182,358" href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html"  target="element">
				  				<area shape="rect" coords="1180,548,1516,658" href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html"  target="element">
				  				<area shape="rect" coords="76,548,316,658" href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html"  target="element">

				  		<area shape="rect" coords="28,476,1566,694" href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html"  target="element">
				  		<area shape="rect" coords="1228,134,1468,244" href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html"  target="element">
				  		<area shape="rect" coords="76,134,316,244" href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element"> Metadata Database </a> </td>
											    <td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element"> Deep Storage </a> </td>
											    <td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
											    <td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element" class="i18n-elementtype-TechnologyCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
													    <td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
													    <td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
											    <td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
													    <td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
															    <td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element"> Load Queue </a> </td>
															    <td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
															    <td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/dc4ee9ea-9e2a-42d7-84ba-5ce1ea59bff2.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc4ee9ea-9e2a-42d7-84ba-5ce1ea59bff2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
																		<td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19816fd4-6091-4a53-9c51-a87b7d0a8820.html" target="element">  </a> </td>
																		<td> <a href="../elements/19816fd4-6091-4a53-9c51-a87b7d0a8820.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
																		<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b91212e4-5a34-4ee3-a036-134dcd28ceac.html" target="element">  </a> </td>
																		<td> <a href="../elements/b91212e4-5a34-4ee3-a036-134dcd28ceac.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/5860219f-ba7d-492f-b8c7-f617474dc6a1.html" target="element"> Assign &amp; Balance </a> </td>
																		<td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/66e713b7-5a48-4a84-93bd-d98cb5f74d77.html" target="element"> segment metadata </a> </td>
																				<td> <a href="../elements/66e713b7-5a48-4a84-93bd-d98cb5f74d77.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																				<td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element"> Metadata Database </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/37e7a1c9-dd09-4d62-80dd-5249d25a314a.html" target="element"> rule task </a> </td>
																				<td> <a href="../elements/37e7a1c9-dd09-4d62-80dd-5249d25a314a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																				<td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element"> Load Queue </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3c4ba4de-580b-47b1-b913-790c90b52621.html" target="element"> segment announce </a> </td>
																				<td> <a href="../elements/3c4ba4de-580b-47b1-b913-790c90b52621.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																				<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c1e3942b07224ef19bf7584c0b8eae47.html" target="element"> rules </a> </td>
																				<td> <a href="../elements/id-c1e3942b07224ef19bf7584c0b8eae47.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/5d7e4bde-cef2-4d9e-b4ef-16c68d0e97e9.html" target="element"> Coordinator </a> </td>
																				<td> <a href="../elements/7d5ea31a-3e7c-4d22-aac2-a59692dd767d.html" target="element"> Metadata Database </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2cea9913-7ba4-463d-9296-b17f77b32d0c.html" target="element"> segment pull (load) </a> </td>
																				<td> <a href="../elements/2cea9913-7ba4-463d-9296-b17f77b32d0c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
																				<td> <a href="../elements/7861c163-6fb5-47f8-8dc1-ba872ac5fe1d.html" target="element"> Deep Storage </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9fd6a470-003e-4644-affb-5417448ec26f.html" target="element"> rule task </a> </td>
																				<td> <a href="../elements/9fd6a470-003e-4644-affb-5417448ec26f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
																				<td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element"> Load Queue </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ed87d1e9-1f8e-44aa-bb5f-7a6b964dd2d9.html" target="element"> segment announce </a> </td>
																				<td> <a href="../elements/ed87d1e9-1f8e-44aa-bb5f-7a6b964dd2d9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/fbb254c1-d1d3-463b-b71b-f90fc97dcd79.html" target="element"> Historical </a> </td>
																				<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb5de5f2-4541-49b6-9d41-c77c8989f51a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/74d40498-9ec0-4d6b-b546-07ad79278286.html" target="element"> Zookeeper </a> </td>
																		<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7c4e5565-f77f-4e22-a74c-4f84717a11a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/7c4e5565-f77f-4e22-a74c-4f84717a11a2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																				<td> <a href="../elements/a1b78133-5bd0-4900-872e-0a3698a708be.html" target="element"> Ingestion Work Queues </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e317f28b-b2e0-4616-82d1-7d15fbcffb00.html" target="element">  </a> </td>
																				<td> <a href="../elements/e317f28b-b2e0-4616-82d1-7d15fbcffb00.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																				<td> <a href="../elements/b9babf5c-ce91-41cc-a3b3-8659e7f3366e.html" target="element"> Load Queue </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5cab332f-7577-4bf1-a4f7-9ee70eb2896d.html" target="element">  </a> </td>
																				<td> <a href="../elements/5cab332f-7577-4bf1-a4f7-9ee70eb2896d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/953f5d8a-ed01-4c51-b53b-639ae7810476.html" target="element"> druid </a> </td>
																				<td> <a href="../elements/0ed311d3-871a-4b53-8337-50aee4bc2daa.html" target="element"> Published Segments </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>